
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"
    />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>messense</title>
    <style>
      body {
        min-width: 200px;
        max-width: 790px;
        margin: 0 auto;
        padding: 30px;
      }
.main-link {
  text-decoration: none;
  color: inherit;
}
.markdown-body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #333;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
}
.markdown-body a {
  background-color: transparent;
}
.markdown-body a:active,
.markdown-body a:hover {
  outline: 0;
}
.markdown-body strong {
  font-weight: bold;
}
.markdown-body h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.markdown-body hr {
  box-sizing: content-box;
  height: 0;
}
.markdown-body table {
  border-collapse: collapse;
  border-spacing: 0;
}
.markdown-body td,
.markdown-body th {
  padding: 0;
}
.markdown-body * {
  box-sizing: border-box;
}
.markdown-body a {
  color: #4078c0;
  text-decoration: none;
}
.markdown-body a:hover,
.markdown-body a:active {
  text-decoration: underline;
}
.markdown-body hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}
.markdown-body hr:before {
  display: table;
  content: "";
}
.markdown-body hr:after {
  display: table;
  clear: both;
  content: "";
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h1 {
  font-size: 30px;
}
.markdown-body h2 {
  font-size: 21px;
}
.markdown-body blockquote {
  margin: 0;
}
.markdown-body dd {
  margin-left: 0;
}
.markdown-body code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}
.markdown-body pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.markdown-body .octicon {
  font: normal normal normal 16px/1 octicons-anchor;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.markdown-body .octicon-link:before {
  content: '\f05c';
}
.markdown-body>*:first-child {
  margin-top: 0 !important;
}
.markdown-body>*:last-child {
  margin-bottom: 0 !important;
}
.markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}
.markdown-body .anchor {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  padding-right: 6px;
  padding-left: 30px;
  margin-left: -30px;
}
.markdown-body .anchor:focus {
  outline: none;
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  position: relative;
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4;
}
.markdown-body h1 .octicon-link,
.markdown-body h2 .octicon-link,
.markdown-body h3 .octicon-link,
.markdown-body h4 .octicon-link,
.markdown-body h5 .octicon-link,
.markdown-body h6 .octicon-link {
  display: none;
  color: #000;
  vertical-align: middle;
}
.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor,
.markdown-body h3:hover .anchor,
.markdown-body h4:hover .anchor,
.markdown-body h5:hover .anchor,
.markdown-body h6:hover .anchor {
  padding-left: 8px;
  margin-left: -30px;
  text-decoration: none;
}
.markdown-body h1:hover .anchor .octicon-link,
.markdown-body h2:hover .anchor .octicon-link,
.markdown-body h3:hover .anchor .octicon-link,
.markdown-body h4:hover .anchor .octicon-link,
.markdown-body h5:hover .anchor .octicon-link,
.markdown-body h6:hover .anchor .octicon-link {
  display: inline-block;
}
.markdown-body h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}
.markdown-body h1 .anchor {
  line-height: 1;
}
.markdown-body h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}
.markdown-body h2 .anchor {
  line-height: 1;
}
.markdown-body h3 {
  font-size: 1.5em;
  line-height: 1.43;
}
.markdown-body h3 .anchor {
  line-height: 1.2;
}
.markdown-body h4 {
  font-size: 1.25em;
}
.markdown-body h4 .anchor {
  line-height: 1.2;
}
.markdown-body h5 {
  font-size: 1em;
}
.markdown-body h5 .anchor {
  line-height: 1.1;
}
.markdown-body h6 {
  font-size: 1em;
  color: #777;
}
.markdown-body h6 .anchor {
  line-height: 1.1;
}
.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre {
  margin-top: 0;
  margin-bottom: 16px;
}
.markdown-body hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
}
.markdown-body ul,
.markdown-body ol {
  padding-left: 2em;
}
.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
.markdown-body li>p {
  margin-top: 16px;
}
.markdown-body dl {
  padding: 0;
}
.markdown-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}
.markdown-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}
.markdown-body blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}
.markdown-body blockquote>:first-child {
  margin-top: 0;
}
.markdown-body blockquote>:last-child {
  margin-bottom: 0;
}
.markdown-body table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}
.markdown-body table th {
  font-weight: bold;
}
.markdown-body table th,
.markdown-body table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}
.markdown-body table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}
.markdown-body table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.markdown-body img {
  max-width: 100%;
  box-sizing: border-box;
}
.markdown-body code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}
.markdown-body code:before,
.markdown-body code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}
.markdown-body pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}
.markdown-body .highlight {
  margin-bottom: 16px;
}
.markdown-body .highlight pre,
.markdown-body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}
.markdown-body .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}
.markdown-body pre {
  word-wrap: normal;
}
.markdown-body pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}
.markdown-body pre code:before,
.markdown-body pre code:after {
  content: normal;
}
}
    </style>
  </head>
<body>
	<div class="container p-4">
	<main>
	<div class="heading text-center">
		<h1 class="display-1">
		<a
			href="https://github.com/yihong0618/github-readme-stats-server"
			class="main-link"
			>GitHub README Stats</a
		>
		</h1>
		<p class="lead">Generate GitHub User README Profile</p>
	</div>
	<hr />
	<form action="/generate" method="post">
		<div class="input-group mb-4">
		<input
			class="form-control form-control-lg"
			type="text"
			placeholder="GitHub username"
			aria-label="Input GitHub username"
			name="r"
			id="r"
		/>
		<button class="btn btn-primary">GO!</button>
		</div>
	</form>
	</div>
	</main>
  <div class="tips">
    <h4>Tips</h4>
    <ul>
      <li>
        Add query string <code>--refresh</code> to clear the caches
      </li>
    </ul>
  </div>
  </main>
  <footer>
  <h4>Credits</h4>
  <ul>
    <li>
      <a href="https://github.com/frostming">frostming</a>'s
      <a href="https://github.com/frostming/tokei-pie-cooker">tokei-pie-cooker</a> project
    </li>
  </ul>
  </footer>
	</div>
  <article class="markdown-body">
    <h2><a name="the-repos-messense-created" class="anchor" href="#the-repos-messense-created" rel="nofollow" aria-hidden="true"><span class="octicon octicon-link"></span></a>The repos messense created</h2>

<table>
<thead>
<tr>
<th>ID</th>
<th>REPO</th>
<th>START</th>
<th>UPDATE</th>
<th>LAUGUAGE</th>
<th>STARS</th>
</tr>
</thead>

<tbody>
<tr>
<td>1</td>
<td><a href="https://github.com/messense/aliyundrive-webdav" rel="nofollow">aliyundrive-webdav</a></td>
<td>2021-08-18</td>
<td>2023-01-20</td>
<td>Rust</td>
<td>6545</td>
</tr>

<tr>
<td>2</td>
<td><a href="https://github.com/messense/aliyundrive-fuse" rel="nofollow">aliyundrive-fuse</a></td>
<td>2022-01-05</td>
<td>2023-01-20</td>
<td>Rust</td>
<td>866</td>
</tr>

<tr>
<td>3</td>
<td><a href="https://github.com/messense/jieba-rs" rel="nofollow">jieba-rs</a></td>
<td>2018-05-06</td>
<td>2023-01-17</td>
<td>Rust</td>
<td>501</td>
</tr>

<tr>
<td>4</td>
<td><a href="https://github.com/messense/homebrew-macos-cross-toolchains" rel="nofollow">homebrew-macos-cross-toolchains</a></td>
<td>2021-02-28</td>
<td>2023-01-17</td>
<td>Ruby</td>
<td>408</td>
</tr>

<tr>
<td>5</td>
<td><a href="https://github.com/messense/wechat-bot" rel="nofollow">wechat-bot</a></td>
<td>2013-01-12</td>
<td>2022-07-31</td>
<td>Python</td>
<td>178</td>
</tr>

<tr>
<td>6</td>
<td><a href="https://github.com/messense/rocketmq-python" rel="nofollow">rocketmq-python</a></td>
<td>2019-01-02</td>
<td>2023-01-12</td>
<td>Python</td>
<td>90</td>
</tr>

<tr>
<td>7</td>
<td><a href="https://github.com/messense/mupdf-rs" rel="nofollow">mupdf-rs</a></td>
<td>2020-01-23</td>
<td>2023-01-12</td>
<td>Rust</td>
<td>59</td>
</tr>

<tr>
<td>8</td>
<td><a href="https://github.com/messense/fasttext-serving" rel="nofollow">fasttext-serving</a></td>
<td>2018-01-22</td>
<td>2023-01-08</td>
<td>Rust</td>
<td>55</td>
</tr>

<tr>
<td>9</td>
<td><a href="https://github.com/messense/openwrt-netbird" rel="nofollow">openwrt-netbird</a></td>
<td>2022-02-05</td>
<td>2022-12-15</td>
<td>Makefile</td>
<td>44</td>
</tr>

<tr>
<td>10</td>
<td><a href="https://github.com/messense/fasttext-rs" rel="nofollow">fasttext-rs</a></td>
<td>2018-01-18</td>
<td>2023-01-07</td>
<td>Rust</td>
<td>43</td>
</tr>

<tr>
<td>11</td>
<td><a href="https://github.com/messense/dav-server-rs" rel="nofollow">dav-server-rs</a></td>
<td>2022-01-02</td>
<td>2023-01-11</td>
<td>Rust</td>
<td>31</td>
</tr>

<tr>
<td>12</td>
<td><a href="https://github.com/messense/otpauth-rs" rel="nofollow">otpauth-rs</a></td>
<td>2015-05-28</td>
<td>2022-06-23</td>
<td>Rust</td>
<td>27</td>
</tr>

<tr>
<td>13</td>
<td><a href="https://github.com/messense/crfs-rs" rel="nofollow">crfs-rs</a></td>
<td>2021-01-31</td>
<td>2022-11-23</td>
<td>Rust</td>
<td>24</td>
</tr>

<tr>
<td>14</td>
<td><a href="https://github.com/messense/rocketmq-rs" rel="nofollow">rocketmq-rs</a></td>
<td>2019-01-07</td>
<td>2023-01-18</td>
<td>Rust</td>
<td>23</td>
</tr>

<tr>
<td>15</td>
<td><a href="https://github.com/messense/APUE-Learning" rel="nofollow">APUE-Learning</a></td>
<td>2014-05-16</td>
<td>2022-07-24</td>
<td>C</td>
<td>21</td>
</tr>

<tr>
<td>16</td>
<td><a href="https://github.com/messense/unidiff-rs" rel="nofollow">unidiff-rs</a></td>
<td>2016-03-02</td>
<td>2022-12-08</td>
<td>Rust</td>
<td>20</td>
</tr>

<tr>
<td>17</td>
<td><a href="https://github.com/messense/crfsuite-rs" rel="nofollow">crfsuite-rs</a></td>
<td>2018-01-05</td>
<td>2022-06-16</td>
<td>Rust</td>
<td>19</td>
</tr>

<tr>
<td>18</td>
<td><a href="https://github.com/messense/wechat-rs" rel="nofollow">wechat-rs</a></td>
<td>2015-06-02</td>
<td>2022-11-26</td>
<td>Rust</td>
<td>18</td>
</tr>

<tr>
<td>19</td>
<td><a href="https://github.com/messense/robotparser-rs" rel="nofollow">robotparser-rs</a></td>
<td>2015-06-27</td>
<td>2022-05-15</td>
<td>Rust</td>
<td>16</td>
</tr>

<tr>
<td>20</td>
<td><a href="https://github.com/messense/rjieba-py" rel="nofollow">rjieba-py</a></td>
<td>2020-09-15</td>
<td>2022-09-29</td>
<td>Rust</td>
<td>15</td>
</tr>

<tr>
<td>21</td>
<td><a href="https://github.com/messense/cjieba-py" rel="nofollow">cjieba-py</a></td>
<td>2018-01-12</td>
<td>2021-02-16</td>
<td>Python</td>
<td>13</td>
</tr>

<tr>
<td>22</td>
<td><a href="https://github.com/messense/multi-lsp-proxy" rel="nofollow">multi-lsp-proxy</a></td>
<td>2023-01-15</td>
<td>2023-01-18</td>
<td>Rust</td>
<td>12</td>
</tr>

<tr>
<td>23</td>
<td><a href="https://github.com/messense/sanic-gunicorn" rel="nofollow">sanic-gunicorn</a></td>
<td>2017-03-19</td>
<td>2021-03-24</td>
<td>Python</td>
<td>12</td>
</tr>

<tr>
<td>24</td>
<td><a href="https://github.com/messense/fasttext-wheel" rel="nofollow">fasttext-wheel</a></td>
<td>2020-09-03</td>
<td>2022-11-02</td>
<td>Shell</td>
<td>12</td>
</tr>

<tr>
<td>25</td>
<td><a href="https://github.com/messense/fat-macho-rs" rel="nofollow">fat-macho-rs</a></td>
<td>2021-01-19</td>
<td>2022-11-28</td>
<td>Rust</td>
<td>12</td>
</tr>

<tr>
<td>26</td>
<td><a href="https://github.com/messense/chinese-ner-rs" rel="nofollow">chinese-ner-rs</a></td>
<td>2018-06-03</td>
<td>2022-10-11</td>
<td>Rust</td>
<td>12</td>
</tr>

<tr>
<td>27</td>
<td><a href="https://github.com/messense/bosonnlp-rs" rel="nofollow">bosonnlp-rs</a></td>
<td>2016-02-28</td>
<td>2021-01-06</td>
<td>Rust</td>
<td>11</td>
</tr>

<tr>
<td>28</td>
<td><a href="https://github.com/messense/auditwheel-symbols" rel="nofollow">auditwheel-symbols</a></td>
<td>2021-02-21</td>
<td>2023-01-14</td>
<td>Rust</td>
<td>9</td>
</tr>

<tr>
<td>29</td>
<td><a href="https://github.com/messense/lingua-py" rel="nofollow">lingua-py</a></td>
<td>2021-10-20</td>
<td>2022-12-30</td>
<td>Rust</td>
<td>7</td>
</tr>

<tr>
<td>30</td>
<td><a href="https://github.com/messense/rust-jieba" rel="nofollow">rust-jieba</a></td>
<td>2018-01-23</td>
<td>2021-11-08</td>
<td>Rust</td>
<td>7</td>
</tr>

<tr>
<td>31</td>
<td><a href="https://github.com/messense/douban2kindle" rel="nofollow">douban2kindle</a></td>
<td>2014-12-26</td>
<td>2019-07-15</td>
<td>Python</td>
<td>6</td>
</tr>

<tr>
<td>32</td>
<td><a href="https://github.com/messense/lddtree-rs" rel="nofollow">lddtree-rs</a></td>
<td>2021-12-05</td>
<td>2022-11-16</td>
<td>Rust</td>
<td>6</td>
</tr>

<tr>
<td>33</td>
<td><a href="https://github.com/messense/rjsonnet-py" rel="nofollow">rjsonnet-py</a></td>
<td>2021-06-13</td>
<td>2023-01-19</td>
<td>Rust</td>
<td>6</td>
</tr>

<tr>
<td>34</td>
<td><a href="https://github.com/messense/rust-lunardate" rel="nofollow">rust-lunardate</a></td>
<td>2018-04-08</td>
<td>2022-11-24</td>
<td>Rust</td>
<td>6</td>
</tr>

<tr>
<td>35</td>
<td><a href="https://github.com/messense/mmseg-rs" rel="nofollow">mmseg-rs</a></td>
<td>2018-04-14</td>
<td>2022-08-07</td>
<td>Rust</td>
<td>6</td>
</tr>

<tr>
<td>36</td>
<td><a href="https://github.com/messense/optionaldict" rel="nofollow">optionaldict</a></td>
<td>2015-05-09</td>
<td>2021-01-15</td>
<td>Python</td>
<td>6</td>
</tr>

<tr>
<td>37</td>
<td><a href="https://github.com/messense/caiyun" rel="nofollow">caiyun</a></td>
<td>2016-05-17</td>
<td>2018-01-28</td>
<td>Python</td>
<td>6</td>
</tr>

<tr>
<td>38</td>
<td><a href="https://github.com/messense/huaweicloud-github-runner" rel="nofollow">huaweicloud-github-runner</a></td>
<td>2021-06-27</td>
<td>2021-12-05</td>
<td>JavaScript</td>
<td>6</td>
</tr>

<tr>
<td>39</td>
<td><a href="https://github.com/messense/llvm-bitcode-rs" rel="nofollow">llvm-bitcode-rs</a></td>
<td>2021-02-12</td>
<td>2022-01-30</td>
<td>Rust</td>
<td>6</td>
</tr>

<tr>
<td>40</td>
<td><a href="https://github.com/messense/images2video" rel="nofollow">images2video</a></td>
<td>2014-10-10</td>
<td>2022-09-03</td>
<td>Python</td>
<td>5</td>
</tr>

<tr>
<td>41</td>
<td><a href="https://github.com/messense/data-structure-learning" rel="nofollow">data-structure-learning</a></td>
<td>2012-09-21</td>
<td>2018-01-28</td>
<td>C</td>
<td>4</td>
</tr>

<tr>
<td>42</td>
<td><a href="https://github.com/messense/rjmespath-py" rel="nofollow">rjmespath-py</a></td>
<td>2021-06-12</td>
<td>2023-01-15</td>
<td>Python</td>
<td>4</td>
</tr>

<tr>
<td>43</td>
<td><a href="https://github.com/messense/everbean" rel="nofollow">everbean</a></td>
<td>2014-05-09</td>
<td>2019-07-08</td>
<td>Python</td>
<td>4</td>
</tr>

<tr>
<td>44</td>
<td><a href="https://github.com/messense/vim-python-ide" rel="nofollow">vim-python-ide</a></td>
<td>2014-09-13</td>
<td>2021-12-17</td>
<td>Vim script</td>
<td>4</td>
</tr>

<tr>
<td>45</td>
<td><a href="https://github.com/messense/cfasttext" rel="nofollow">cfasttext</a></td>
<td>2018-01-16</td>
<td>2023-01-08</td>
<td>C++</td>
<td>4</td>
</tr>

<tr>
<td>46</td>
<td><a href="https://github.com/messense/douappbook" rel="nofollow">douappbook</a></td>
<td>2015-03-27</td>
<td>2021-07-11</td>
<td>Python</td>
<td>4</td>
</tr>

<tr>
<td>47</td>
<td><a href="https://github.com/messense/cargo-options" rel="nofollow">cargo-options</a></td>
<td>2022-03-30</td>
<td>2022-04-07</td>
<td>Rust</td>
<td>4</td>
</tr>

<tr>
<td>48</td>
<td><a href="https://github.com/messense/is-minified-js" rel="nofollow">is-minified-js</a></td>
<td>2017-06-07</td>
<td>2022-04-24</td>
<td>Python</td>
<td>3</td>
</tr>

<tr>
<td>49</td>
<td><a href="https://github.com/messense/implib-rs" rel="nofollow">implib-rs</a></td>
<td>2022-05-17</td>
<td>2023-01-10</td>
<td>Rust</td>
<td>3</td>
</tr>

<tr>
<td>50</td>
<td><a href="https://github.com/messense/rfiletype-py" rel="nofollow">rfiletype-py</a></td>
<td>2021-04-08</td>
<td>2022-01-11</td>
<td>Rust</td>
<td>3</td>
</tr>

<tr>
<td>51</td>
<td><a href="https://github.com/messense/murmurhash2-py" rel="nofollow">murmurhash2-py</a></td>
<td>2020-07-21</td>
<td>2022-11-30</td>
<td>Rust</td>
<td>3</td>
</tr>

<tr>
<td>52</td>
<td><a href="https://github.com/messense/opencc-rs" rel="nofollow">opencc-rs</a></td>
<td>2015-05-26</td>
<td>2021-05-25</td>
<td>Rust</td>
<td>3</td>
</tr>

<tr>
<td>53</td>
<td><a href="https://github.com/messense/py-dissimilar" rel="nofollow">py-dissimilar</a></td>
<td>2022-12-31</td>
<td>2023-01-09</td>
<td>Rust</td>
<td>3</td>
</tr>

<tr>
<td>54</td>
<td><a href="https://github.com/messense/homebrew-tap" rel="nofollow">homebrew-tap</a></td>
<td>2021-06-25</td>
<td>2022-03-08</td>
<td>Ruby</td>
<td>2</td>
</tr>

<tr>
<td>55</td>
<td><a href="https://github.com/messense/rusted-rs" rel="nofollow">rusted-rs</a></td>
<td>2016-08-17</td>
<td>2019-05-19</td>
<td>Rust</td>
<td>2</td>
</tr>

<tr>
<td>56</td>
<td><a href="https://github.com/messense/crate-wheels" rel="nofollow">crate-wheels</a></td>
<td>2023-01-12</td>
<td>2023-01-16</td>
<td>md</td>
<td>2</td>
</tr>

<tr>
<td>57</td>
<td><a href="https://github.com/messense/cqdb-rs" rel="nofollow">cqdb-rs</a></td>
<td>2021-01-18</td>
<td>2022-09-08</td>
<td>Rust</td>
<td>2</td>
</tr>

<tr>
<td>58</td>
<td><a href="https://github.com/messense/rocket-lenient-json" rel="nofollow">rocket-lenient-json</a></td>
<td>2018-01-26</td>
<td>2019-02-08</td>
<td>Rust</td>
<td>2</td>
</tr>

<tr>
<td>59</td>
<td><a href="https://github.com/messense/github-widget" rel="nofollow">github-widget</a></td>
<td>2013-10-14</td>
<td>2018-01-28</td>
<td>CSS</td>
<td>2</td>
</tr>

<tr>
<td>60</td>
<td><a href="https://github.com/messense/cqdb-sys" rel="nofollow">cqdb-sys</a></td>
<td>2021-01-21</td>
<td>2022-03-02</td>
<td>C</td>
<td>2</td>
</tr>

<tr>
<td>61</td>
<td><a href="https://github.com/messense/cython-abseil-sample" rel="nofollow">cython-abseil-sample</a></td>
<td>2020-05-10</td>
<td>2022-08-25</td>
<td>Python</td>
<td>2</td>
</tr>

<tr>
<td>62</td>
<td><a href="https://github.com/messense/jieba-rpc" rel="nofollow">jieba-rpc</a></td>
<td>2014-12-16</td>
<td>2022-08-12</td>
<td>Python</td>
<td>2</td>
</tr>

<tr>
<td>63</td>
<td><a href="https://github.com/messense/extender" rel="nofollow">extender</a></td>
<td>2014-06-07</td>
<td>2018-05-14</td>
<td>Python</td>
<td>1</td>
</tr>

<tr>
<td>64</td>
<td><a href="https://github.com/messense/catsup-theme-seven" rel="nofollow">catsup-theme-seven</a></td>
<td>2014-03-15</td>
<td>2018-05-14</td>
<td>CSS</td>
<td>1</td>
</tr>

<tr>
<td>65</td>
<td><a href="https://github.com/messense/python-sysconfig-collector" rel="nofollow">python-sysconfig-collector</a></td>
<td>2022-05-04</td>
<td>2022-12-15</td>
<td>Python</td>
<td>1</td>
</tr>

<tr>
<td>66</td>
<td><a href="https://github.com/messense/python3-config-rs" rel="nofollow">python3-config-rs</a></td>
<td>2021-03-22</td>
<td>2021-04-07</td>
<td>Rust</td>
<td>1</td>
</tr>

<tr>
<td>67</td>
<td><a href="https://github.com/messense/nh3" rel="nofollow">nh3</a></td>
<td>2021-08-03</td>
<td>2022-12-19</td>
<td>Rust</td>
<td>1</td>
</tr>

<tr>
<td>68</td>
<td><a href="https://github.com/messense/cmake-toolchain-rs" rel="nofollow">cmake-toolchain-rs</a></td>
<td>2022-09-18</td>
<td>2022-09-19</td>
<td>Rust</td>
<td>1</td>
</tr>

<tr>
<td>69</td>
<td><a href="https://github.com/messense/CMCCLogin" rel="nofollow">CMCCLogin</a></td>
<td>2012-11-21</td>
<td>2018-01-28</td>
<td>Objective-C</td>
<td>1</td>
</tr>

<tr>
<td>70</td>
<td><a href="https://github.com/messense/sha512-crypt" rel="nofollow">sha512-crypt</a></td>
<td>2021-09-17</td>
<td>2021-11-04</td>
<td>Python</td>
<td>1</td>
</tr>

<tr>
<td>71</td>
<td><a href="https://github.com/messense/cppjieba-cabi" rel="nofollow">cppjieba-cabi</a></td>
<td>2018-01-13</td>
<td>2020-09-15</td>
<td>C++</td>
<td>1</td>
</tr>

<tr>
<td>72</td>
<td><a href="https://github.com/messense/Flask-DjangoQuery" rel="nofollow">Flask-DjangoQuery</a></td>
<td>2014-03-31</td>
<td>2014-09-07</td>
<td>Python</td>
<td>1</td>
</tr>

<tr>
<td>73</td>
<td><a href="https://github.com/messense/rocket-validator" rel="nofollow">rocket-validator</a></td>
<td>2018-04-19</td>
<td>2019-05-19</td>
<td>Rust</td>
<td>1</td>
</tr>

<tr>
<td>74</td>
<td><a href="https://github.com/messense/nvim-config" rel="nofollow">nvim-config</a></td>
<td>2021-12-15</td>
<td>2021-12-23</td>
<td>Lua</td>
<td>1</td>
</tr>

<tr>
<td>75</td>
<td><a href="https://github.com/messense/rusted" rel="nofollow">rusted</a></td>
<td>2016-08-15</td>
<td>2018-05-14</td>
<td>Python</td>
<td>1</td>
</tr>

<tr>
<td>76</td>
<td><a href="https://github.com/messense/rpi" rel="nofollow">rpi</a></td>
<td>2018-05-14</td>
<td>2018-06-02</td>
<td>Python</td>
<td>0</td>
</tr>

<tr>
<td>77</td>
<td><a href="https://github.com/messense/flake8-network-timeout" rel="nofollow">flake8-network-timeout</a></td>
<td>2017-07-02</td>
<td>2017-07-02</td>
<td>Python</td>
<td>0</td>
</tr>

<tr>
<td>78</td>
<td><a href="https://github.com/messense/django-mako" rel="nofollow">django-mako</a></td>
<td>2015-01-13</td>
<td>2018-01-28</td>
<td>Python</td>
<td>0</td>
</tr>

<tr>
<td>79</td>
<td><a href="https://github.com/messense/dirty-json-rs" rel="nofollow">dirty-json-rs</a></td>
<td>2020-08-09</td>
<td>2020-08-09</td>
<td>Rust</td>
<td>0</td>
</tr>

<tr>
<td>80</td>
<td><a href="https://github.com/messense/algorithm-learning" rel="nofollow">algorithm-learning</a></td>
<td>2013-04-24</td>
<td>2018-01-28</td>
<td>C</td>
<td>0</td>
</tr>

<tr>
<td>81</td>
<td><a href="https://github.com/messense/jbig2dec-rs" rel="nofollow">jbig2dec-rs</a></td>
<td>2019-12-16</td>
<td>2020-12-27</td>
<td>Rust</td>
<td>0</td>
</tr>

<tr>
<td>82</td>
<td><a href="https://github.com/messense/serde-single-key-map" rel="nofollow">serde-single-key-map</a></td>
<td>2019-12-13</td>
<td>2019-12-13</td>
<td>Rust</td>
<td>0</td>
</tr>

<tr>
<td>83</td>
<td><a href="https://github.com/messense/liblbfgs-sys" rel="nofollow">liblbfgs-sys</a></td>
<td>2021-01-17</td>
<td>2022-03-02</td>
<td>Rust</td>
<td>0</td>
</tr>

<tr>
<td>84</td>
<td><a href="https://github.com/messense/stacktracer" rel="nofollow">stacktracer</a></td>
<td>2015-12-28</td>
<td>2016-01-11</td>
<td>Python</td>
<td>0</td>
</tr>

<tr>
<td>85</td>
<td><a href="https://github.com/messense/tree-sitter-py" rel="nofollow">tree-sitter-py</a></td>
<td>2021-11-20</td>
<td>2021-11-20</td>
<td>Rust</td>
<td>0</td>
</tr>

<tr>
<td>86</td>
<td><a href="https://github.com/messense/messense" rel="nofollow">messense</a></td>
<td>2020-07-19</td>
<td>2022-08-22</td>
<td>md</td>
<td>0</td>
</tr>

<tr>
<td>87</td>
<td><a href="https://github.com/messense/wiki" rel="nofollow">wiki</a></td>
<td>2012-10-27</td>
<td>2014-09-05</td>
<td>CSS</td>
<td>0</td>
</tr>

<tr>
<td>88</td>
<td><a href="https://github.com/messense/pyo3-issue-71" rel="nofollow">pyo3-issue-71</a></td>
<td>2018-01-20</td>
<td>2022-03-21</td>
<td>Python</td>
<td>0</td>
</tr>

<tr>
<td>89</td>
<td><a href="https://github.com/messense/catsup-theme-lingonberry" rel="nofollow">catsup-theme-lingonberry</a></td>
<td>2015-01-01</td>
<td>2021-09-13</td>
<td>CSS</td>
<td>0</td>
</tr>

<tr>
<td>90</td>
<td><a href="https://github.com/messense/doubookcrawler" rel="nofollow">doubookcrawler</a></td>
<td>2015-03-21</td>
<td>2018-01-28</td>
<td>Python</td>
<td>0</td>
</tr>

<tr>
<td>sum</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>9246</td>
</tr>
</tbody>
</table>
<h2><a name="the-repos-messense-contributed-to" class="anchor" href="#the-repos-messense-contributed-to" rel="nofollow" aria-hidden="true"><span class="octicon octicon-link"></span></a>
The repos messense contributed to</h2>

<table>
<thead>
<tr>
<th>ID</th>
<th>REPO</th>
<th>FIRSTDATE</th>
<th>LASTEDATE</th>
<th>PRCOUNT</th>
</tr>
</thead>

<tbody>
<tr>
<td>1</td>
<td><a href="https://github.com/PyO3/maturin" rel="nofollow">maturin</a></td>
<td>2021-11-02</td>
<td>2023-01-19</td>
<td><a href="https://github.com/PyO3/maturin/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">382</a></td>
</tr>

<tr>
<td>2</td>
<td><a href="https://github.com/PyO3/pyo3" rel="nofollow">pyo3</a></td>
<td>2021-11-15</td>
<td>2023-01-11</td>
<td><a href="https://github.com/PyO3/pyo3/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">48</a></td>
</tr>

<tr>
<td>3</td>
<td><a href="https://github.com/Homebrew/homebrew-core" rel="nofollow">homebrew-core</a></td>
<td>2021-11-13</td>
<td>2023-01-18</td>
<td><a href="https://github.com/Homebrew/homebrew-core/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">41</a></td>
</tr>

<tr>
<td>4</td>
<td><a href="https://github.com/rust-cross/cargo-zigbuild" rel="nofollow">cargo-zigbuild</a></td>
<td>2022-02-17</td>
<td>2023-01-20</td>
<td><a href="https://github.com/rust-cross/cargo-zigbuild/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">40</a></td>
</tr>

<tr>
<td>5</td>
<td><a href="https://github.com/PyO3/maturin-action" rel="nofollow">maturin-action</a></td>
<td>2021-11-13</td>
<td>2023-01-11</td>
<td><a href="https://github.com/PyO3/maturin-action/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">38</a></td>
</tr>

<tr>
<td>6</td>
<td><a href="https://github.com/charliermarsh/ruff" rel="nofollow">ruff</a></td>
<td>2022-11-21</td>
<td>2023-01-16</td>
<td><a href="https://github.com/charliermarsh/ruff/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">21</a></td>
</tr>

<tr>
<td>7</td>
<td><a href="https://github.com/rust-cross/cargo-xwin" rel="nofollow">cargo-xwin</a></td>
<td>2022-03-03</td>
<td>2023-01-10</td>
<td><a href="https://github.com/rust-cross/cargo-xwin/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">21</a></td>
</tr>

<tr>
<td>8</td>
<td><a href="https://github.com/PyO3/setuptools-rust" rel="nofollow">setuptools-rust</a></td>
<td>2022-03-18</td>
<td>2022-11-16</td>
<td><a href="https://github.com/PyO3/setuptools-rust/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">18</a></td>
</tr>

<tr>
<td>9</td>
<td><a href="https://github.com/napi-rs/napi-rs" rel="nofollow">napi-rs</a></td>
<td>2021-12-29</td>
<td>2022-10-01</td>
<td><a href="https://github.com/napi-rs/napi-rs/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">17</a></td>
</tr>

<tr>
<td>10</td>
<td><a href="https://github.com/rust-cross/manylinux-cross" rel="nofollow">manylinux-cross</a></td>
<td>2022-04-14</td>
<td>2022-12-09</td>
<td><a href="https://github.com/rust-cross/manylinux-cross/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">13</a></td>
</tr>

<tr>
<td>11</td>
<td><a href="https://github.com/rust-cross/rust-musl-cross" rel="nofollow">rust-musl-cross</a></td>
<td>2022-09-18</td>
<td>2022-12-11</td>
<td><a href="https://github.com/rust-cross/rust-musl-cross/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">13</a></td>
</tr>

<tr>
<td>12</td>
<td><a href="https://github.com/pydantic/pydantic-core" rel="nofollow">pydantic-core</a></td>
<td>2022-05-14</td>
<td>2023-01-18</td>
<td><a href="https://github.com/pydantic/pydantic-core/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">12</a></td>
</tr>

<tr>
<td>13</td>
<td><a href="https://github.com/CeresDB/ceresdb-client-py" rel="nofollow">ceresdb-client-py</a></td>
<td>2022-07-18</td>
<td>2022-07-29</td>
<td><a href="https://github.com/CeresDB/ceresdb-client-py/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">11</a></td>
</tr>

<tr>
<td>14</td>
<td><a href="https://github.com/lobbyboy-ssh/lobbyboy" rel="nofollow">lobbyboy</a></td>
<td>2021-12-03</td>
<td>2021-12-12</td>
<td><a href="https://github.com/lobbyboy-ssh/lobbyboy/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">11</a></td>
</tr>

<tr>
<td>15</td>
<td><a href="https://github.com/PyO3/python3-dll-a" rel="nofollow">python3-dll-a</a></td>
<td>2022-04-17</td>
<td>2022-11-04</td>
<td><a href="https://github.com/PyO3/python3-dll-a/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">11</a></td>
</tr>

<tr>
<td>16</td>
<td><a href="https://github.com/Jake-Shadle/xwin" rel="nofollow">xwin</a></td>
<td>2022-02-27</td>
<td>2022-10-14</td>
<td><a href="https://github.com/Jake-Shadle/xwin/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">8</a></td>
</tr>

<tr>
<td>17</td>
<td><a href="https://github.com/milesgranger/pyrus-cramjam" rel="nofollow">pyrus-cramjam</a></td>
<td>2021-11-07</td>
<td>2022-11-04</td>
<td><a href="https://github.com/milesgranger/pyrus-cramjam/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">7</a></td>
</tr>

<tr>
<td>18</td>
<td><a href="https://github.com/mozilla/sccache" rel="nofollow">sccache</a></td>
<td>2022-11-14</td>
<td>2022-11-27</td>
<td><a href="https://github.com/mozilla/sccache/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">6</a></td>
</tr>

<tr>
<td>19</td>
<td><a href="https://github.com/samuelcolvin/watchfiles" rel="nofollow">watchfiles</a></td>
<td>2022-06-02</td>
<td>2022-12-13</td>
<td><a href="https://github.com/samuelcolvin/watchfiles/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">6</a></td>
</tr>

<tr>
<td>20</td>
<td><a href="https://github.com/cargo-lambda/cargo-lambda" rel="nofollow">cargo-lambda</a></td>
<td>2022-03-07</td>
<td>2022-04-24</td>
<td><a href="https://github.com/cargo-lambda/cargo-lambda/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">5</a></td>
</tr>

<tr>
<td>21</td>
<td><a href="https://github.com/datafuselabs/opendal" rel="nofollow">opendal</a></td>
<td>2022-11-15</td>
<td>2022-11-16</td>
<td><a href="https://github.com/datafuselabs/opendal/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">4</a></td>
</tr>

<tr>
<td>22</td>
<td><a href="https://github.com/m4b/goblin" rel="nofollow">goblin</a></td>
<td>2021-12-05</td>
<td>2022-11-07</td>
<td><a href="https://github.com/m4b/goblin/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">4</a></td>
</tr>

<tr>
<td>23</td>
<td><a href="https://github.com/CeresDB/ceresdb-client-rs" rel="nofollow">ceresdb-client-rs</a></td>
<td>2022-07-19</td>
<td>2022-07-20</td>
<td><a href="https://github.com/CeresDB/ceresdb-client-rs/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">3</a></td>
</tr>

<tr>
<td>24</td>
<td><a href="https://github.com/conda-forge/maturin-feedstock" rel="nofollow">maturin-feedstock</a></td>
<td>2022-07-05</td>
<td>2022-09-27</td>
<td><a href="https://github.com/conda-forge/maturin-feedstock/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">3</a></td>
</tr>

<tr>
<td>25</td>
<td><a href="https://github.com/mozilla/uniffi-rs" rel="nofollow">uniffi-rs</a></td>
<td>2022-11-17</td>
<td>2022-11-28</td>
<td><a href="https://github.com/mozilla/uniffi-rs/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">3</a></td>
</tr>

<tr>
<td>26</td>
<td><a href="https://github.com/wechatpy/wechatpy" rel="nofollow">wechatpy</a></td>
<td>2021-11-06</td>
<td>2021-11-11</td>
<td><a href="https://github.com/wechatpy/wechatpy/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">3</a></td>
</tr>

<tr>
<td>27</td>
<td><a href="https://github.com/samuelcolvin/rtoml" rel="nofollow">rtoml</a></td>
<td>2022-03-23</td>
<td>2022-11-22</td>
<td><a href="https://github.com/samuelcolvin/rtoml/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">3</a></td>
</tr>

<tr>
<td>28</td>
<td><a href="https://github.com/clbarnes/ncollpyde" rel="nofollow">ncollpyde</a></td>
<td>2021-11-08</td>
<td>2021-11-09</td>
<td><a href="https://github.com/clbarnes/ncollpyde/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">3</a></td>
</tr>

<tr>
<td>29</td>
<td><a href="https://github.com/eqrion/cbindgen" rel="nofollow">cbindgen</a></td>
<td>2022-03-20</td>
<td>2022-10-17</td>
<td><a href="https://github.com/eqrion/cbindgen/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">3</a></td>
</tr>

<tr>
<td>30</td>
<td><a href="https://github.com/rust-lang/cmake-rs" rel="nofollow">cmake-rs</a></td>
<td>2021-12-01</td>
<td>2022-07-26</td>
<td><a href="https://github.com/rust-lang/cmake-rs/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">2</a></td>
</tr>

<tr>
<td>31</td>
<td><a href="https://github.com/quickwit-oss/tantivy-py" rel="nofollow">tantivy-py</a></td>
<td>2022-01-16</td>
<td>2022-01-17</td>
<td><a href="https://github.com/quickwit-oss/tantivy-py/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">2</a></td>
</tr>

<tr>
<td>32</td>
<td><a href="https://github.com/Rust-SDL2/rust-sdl2" rel="nofollow">rust-sdl2</a></td>
<td>2022-08-22</td>
<td>2022-08-30</td>
<td><a href="https://github.com/Rust-SDL2/rust-sdl2/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">2</a></td>
</tr>

<tr>
<td>33</td>
<td><a href="https://github.com/ijl/orjson" rel="nofollow">orjson</a></td>
<td>2022-02-09</td>
<td>2022-02-11</td>
<td><a href="https://github.com/ijl/orjson/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">2</a></td>
</tr>

<tr>
<td>34</td>
<td><a href="https://github.com/pola-rs/polars" rel="nofollow">polars</a></td>
<td>2022-07-20</td>
<td>2022-12-13</td>
<td><a href="https://github.com/pola-rs/polars/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">2</a></td>
</tr>

<tr>
<td>35</td>
<td><a href="https://github.com/huggingface/tokenizers" rel="nofollow">tokenizers</a></td>
<td>2022-03-21</td>
<td>2022-07-01</td>
<td><a href="https://github.com/huggingface/tokenizers/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">2</a></td>
</tr>

<tr>
<td>36</td>
<td><a href="https://github.com/mitsuhiko/minijinja" rel="nofollow">minijinja</a></td>
<td>2023-01-18</td>
<td>2023-01-18</td>
<td><a href="https://github.com/mitsuhiko/minijinja/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">2</a></td>
</tr>

<tr>
<td>37</td>
<td><a href="https://github.com/console-rs/console" rel="nofollow">console</a></td>
<td>2022-10-14</td>
<td>2022-12-06</td>
<td><a href="https://github.com/console-rs/console/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">2</a></td>
</tr>

<tr>
<td>38</td>
<td><a href="https://github.com/oli-obk/cargo_metadata" rel="nofollow">cargo_metadata</a></td>
<td>2022-11-04</td>
<td>2022-11-20</td>
<td><a href="https://github.com/oli-obk/cargo_metadata/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">2</a></td>
</tr>

<tr>
<td>39</td>
<td><a href="https://github.com/pyca/cryptography" rel="nofollow">cryptography</a></td>
<td>2021-12-12</td>
<td>2021-12-12</td>
<td><a href="https://github.com/pyca/cryptography/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>40</td>
<td><a href="https://github.com/PyO3/python-pkginfo-rs" rel="nofollow">python-pkginfo-rs</a></td>
<td>2022-02-04</td>
<td>2022-02-04</td>
<td><a href="https://github.com/PyO3/python-pkginfo-rs/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>41</td>
<td><a href="https://github.com/rust-lang/rfcs" rel="nofollow">rfcs</a></td>
<td>2022-09-27</td>
<td>2022-09-27</td>
<td><a href="https://github.com/rust-lang/rfcs/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>42</td>
<td><a href="https://github.com/rust-cli/human-panic" rel="nofollow">human-panic</a></td>
<td>2022-05-16</td>
<td>2022-05-16</td>
<td><a href="https://github.com/rust-cli/human-panic/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>43</td>
<td><a href="https://github.com/alexcrichton/filetime" rel="nofollow">filetime</a></td>
<td>2022-10-19</td>
<td>2022-10-19</td>
<td><a href="https://github.com/alexcrichton/filetime/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>44</td>
<td><a href="https://github.com/taiki-e/install-action" rel="nofollow">install-action</a></td>
<td>2022-08-28</td>
<td>2022-08-28</td>
<td><a href="https://github.com/taiki-e/install-action/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>45</td>
<td><a href="https://github.com/gregyjames/Panther" rel="nofollow">Panther</a></td>
<td>2022-02-25</td>
<td>2022-02-25</td>
<td><a href="https://github.com/gregyjames/Panther/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>46</td>
<td><a href="https://github.com/zip-rs/zip" rel="nofollow">zip</a></td>
<td>2022-04-02</td>
<td>2022-04-02</td>
<td><a href="https://github.com/zip-rs/zip/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>47</td>
<td><a href="https://github.com/taiki-e/cargo-llvm-cov" rel="nofollow">cargo-llvm-cov</a></td>
<td>2022-08-06</td>
<td>2022-08-06</td>
<td><a href="https://github.com/taiki-e/cargo-llvm-cov/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>48</td>
<td><a href="https://github.com/metalbear-co/mirrord" rel="nofollow">mirrord</a></td>
<td>2022-06-11</td>
<td>2022-06-11</td>
<td><a href="https://github.com/metalbear-co/mirrord/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>49</td>
<td><a href="https://github.com/tmccombs/tls-listener" rel="nofollow">tls-listener</a></td>
<td>2022-01-22</td>
<td>2022-01-22</td>
<td><a href="https://github.com/tmccombs/tls-listener/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>50</td>
<td><a href="https://github.com/deshaw/nbstripout-fast" rel="nofollow">nbstripout-fast</a></td>
<td>2022-12-14</td>
<td>2022-12-14</td>
<td><a href="https://github.com/deshaw/nbstripout-fast/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>51</td>
<td><a href="https://github.com/sunfishcode/io-lifetimes" rel="nofollow">io-lifetimes</a></td>
<td>2022-10-20</td>
<td>2022-10-20</td>
<td><a href="https://github.com/sunfishcode/io-lifetimes/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>52</td>
<td><a href="https://github.com/bytecodealliance/rustix" rel="nofollow">rustix</a></td>
<td>2022-10-20</td>
<td>2022-10-20</td>
<td><a href="https://github.com/bytecodealliance/rustix/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>53</td>
<td><a href="https://github.com/console-rs/indicatif" rel="nofollow">indicatif</a></td>
<td>2022-10-04</td>
<td>2022-10-04</td>
<td><a href="https://github.com/console-rs/indicatif/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>54</td>
<td><a href="https://github.com/RustPython/RustPython" rel="nofollow">RustPython</a></td>
<td>2023-01-13</td>
<td>2023-01-13</td>
<td><a href="https://github.com/RustPython/RustPython/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>55</td>
<td><a href="https://github.com/pypi/warehouse" rel="nofollow">warehouse</a></td>
<td>2022-10-25</td>
<td>2022-10-25</td>
<td><a href="https://github.com/pypi/warehouse/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>56</td>
<td><a href="https://github.com/oconnor663/os_pipe.rs" rel="nofollow">os_pipe.rs</a></td>
<td>2022-11-24</td>
<td>2022-11-24</td>
<td><a href="https://github.com/oconnor663/os_pipe.rs/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>57</td>
<td><a href="https://github.com/dbhi/qus" rel="nofollow">qus</a></td>
<td>2022-09-19</td>
<td>2022-09-19</td>
<td><a href="https://github.com/dbhi/qus/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>58</td>
<td><a href="https://github.com/ziglang/zig-pypi" rel="nofollow">zig-pypi</a></td>
<td>2022-11-01</td>
<td>2022-11-01</td>
<td><a href="https://github.com/ziglang/zig-pypi/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>59</td>
<td><a href="https://github.com/CeresDB/ceresdb" rel="nofollow">ceresdb</a></td>
<td>2022-07-19</td>
<td>2022-07-19</td>
<td><a href="https://github.com/CeresDB/ceresdb/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>60</td>
<td><a href="https://github.com/dylni/normpath" rel="nofollow">normpath</a></td>
<td>2022-11-29</td>
<td>2022-11-29</td>
<td><a href="https://github.com/dylni/normpath/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>61</td>
<td><a href="https://github.com/jjeffcaii/aliyun-oss-rust-sdk" rel="nofollow">aliyun-oss-rust-sdk</a></td>
<td>2021-11-01</td>
<td>2021-11-01</td>
<td><a href="https://github.com/jjeffcaii/aliyun-oss-rust-sdk/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>62</td>
<td><a href="https://github.com/conda-forge/admin-requests" rel="nofollow">admin-requests</a></td>
<td>2023-01-11</td>
<td>2023-01-11</td>
<td><a href="https://github.com/conda-forge/admin-requests/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>63</td>
<td><a href="https://github.com/uutils/platform-info" rel="nofollow">platform-info</a></td>
<td>2021-11-28</td>
<td>2021-11-28</td>
<td><a href="https://github.com/uutils/platform-info/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>64</td>
<td><a href="https://github.com/tikv/rust-prometheus" rel="nofollow">rust-prometheus</a></td>
<td>2022-10-04</td>
<td>2022-10-04</td>
<td><a href="https://github.com/tikv/rust-prometheus/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>65</td>
<td><a href="https://github.com/piwheels/piwheels" rel="nofollow">piwheels</a></td>
<td>2022-08-21</td>
<td>2022-08-21</td>
<td><a href="https://github.com/piwheels/piwheels/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>66</td>
<td><a href="https://github.com/assert-rs/trycmd" rel="nofollow">trycmd</a></td>
<td>2022-11-25</td>
<td>2022-11-25</td>
<td><a href="https://github.com/assert-rs/trycmd/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>67</td>
<td><a href="https://github.com/eminence/terminal-size" rel="nofollow">terminal-size</a></td>
<td>2022-11-28</td>
<td>2022-11-28</td>
<td><a href="https://github.com/eminence/terminal-size/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>68</td>
<td><a href="https://github.com/OpenRefine/OpenRefine" rel="nofollow">OpenRefine</a></td>
<td>2022-12-08</td>
<td>2022-12-08</td>
<td><a href="https://github.com/OpenRefine/OpenRefine/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>69</td>
<td><a href="https://github.com/Xuanwo/reqsign" rel="nofollow">reqsign</a></td>
<td>2022-11-15</td>
<td>2022-11-15</td>
<td><a href="https://github.com/Xuanwo/reqsign/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>70</td>
<td><a href="https://github.com/napi-rs/node-rs" rel="nofollow">node-rs</a></td>
<td>2022-03-25</td>
<td>2022-03-25</td>
<td><a href="https://github.com/napi-rs/node-rs/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>71</td>
<td><a href="https://github.com/MnO2/cedarwood" rel="nofollow">cedarwood</a></td>
<td>2022-09-25</td>
<td>2022-09-25</td>
<td><a href="https://github.com/MnO2/cedarwood/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>72</td>
<td><a href="https://github.com/svenstaro/upload-release-action" rel="nofollow">upload-release-action</a></td>
<td>2022-07-03</td>
<td>2022-07-03</td>
<td><a href="https://github.com/svenstaro/upload-release-action/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>73</td>
<td><a href="https://github.com/tokio-rs/mio" rel="nofollow">mio</a></td>
<td>2021-12-10</td>
<td>2021-12-10</td>
<td><a href="https://github.com/tokio-rs/mio/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>74</td>
<td><a href="https://github.com/conradkleinespel/rpassword" rel="nofollow">rpassword</a></td>
<td>2022-11-28</td>
<td>2022-11-28</td>
<td><a href="https://github.com/conradkleinespel/rpassword/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>75</td>
<td><a href="https://github.com/adriangb/graphlib2" rel="nofollow">graphlib2</a></td>
<td>2022-06-09</td>
<td>2022-06-09</td>
<td><a href="https://github.com/adriangb/graphlib2/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>76</td>
<td><a href="https://github.com/PyO3/pyproject-toml-rs" rel="nofollow">pyproject-toml-rs</a></td>
<td>2022-10-24</td>
<td>2022-10-24</td>
<td><a href="https://github.com/PyO3/pyproject-toml-rs/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>77</td>
<td><a href="https://github.com/PyO3/rust-numpy" rel="nofollow">rust-numpy</a></td>
<td>2022-11-06</td>
<td>2022-11-06</td>
<td><a href="https://github.com/PyO3/rust-numpy/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>78</td>
<td><a href="https://github.com/huacnlee/autocorrect" rel="nofollow">autocorrect</a></td>
<td>2022-10-11</td>
<td>2022-10-11</td>
<td><a href="https://github.com/huacnlee/autocorrect/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>79</td>
<td><a href="https://github.com/gimli-rs/object" rel="nofollow">object</a></td>
<td>2022-10-04</td>
<td>2022-10-04</td>
<td><a href="https://github.com/gimli-rs/object/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>80</td>
<td><a href="https://github.com/dora-rs/dora" rel="nofollow">dora</a></td>
<td>2022-08-06</td>
<td>2022-08-06</td>
<td><a href="https://github.com/dora-rs/dora/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>81</td>
<td><a href="https://github.com/nextest-rs/nextest" rel="nofollow">nextest</a></td>
<td>2022-07-24</td>
<td>2022-07-24</td>
<td><a href="https://github.com/nextest-rs/nextest/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>82</td>
<td><a href="https://github.com/pypa/manylinux" rel="nofollow">manylinux</a></td>
<td>2022-11-07</td>
<td>2022-11-07</td>
<td><a href="https://github.com/pypa/manylinux/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>83</td>
<td><a href="https://github.com/hwchen/secret-service-rs" rel="nofollow">secret-service-rs</a></td>
<td>2022-12-21</td>
<td>2022-12-21</td>
<td><a href="https://github.com/hwchen/secret-service-rs/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>84</td>
<td><a href="https://github.com/conradkleinespel/duck" rel="nofollow">duck</a></td>
<td>2022-11-29</td>
<td>2022-11-29</td>
<td><a href="https://github.com/conradkleinespel/duck/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>85</td>
<td><a href="https://github.com/m4b/bingrep" rel="nofollow">bingrep</a></td>
<td>2022-02-07</td>
<td>2022-02-07</td>
<td><a href="https://github.com/m4b/bingrep/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>86</td>
<td><a href="https://github.com/domodwyer/fastxdr" rel="nofollow">fastxdr</a></td>
<td>2022-01-16</td>
<td>2022-01-16</td>
<td><a href="https://github.com/domodwyer/fastxdr/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>87</td>
<td><a href="https://github.com/clap-rs/clap" rel="nofollow">clap</a></td>
<td>2021-12-11</td>
<td>2021-12-11</td>
<td><a href="https://github.com/clap-rs/clap/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>88</td>
<td><a href="https://github.com/cberner/fuser" rel="nofollow">fuser</a></td>
<td>2022-01-11</td>
<td>2022-01-11</td>
<td><a href="https://github.com/cberner/fuser/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>89</td>
<td><a href="https://github.com/tov/libffi-rs" rel="nofollow">libffi-rs</a></td>
<td>2022-03-04</td>
<td>2022-03-04</td>
<td><a href="https://github.com/tov/libffi-rs/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>90</td>
<td><a href="https://github.com/fusion-engineering/inline-python" rel="nofollow">inline-python</a></td>
<td>2021-11-16</td>
<td>2021-11-16</td>
<td><a href="https://github.com/fusion-engineering/inline-python/pulls?q=is%3Apr+author%3Amessense" rel="nofollow">1</a></td>
</tr>

<tr>
<td>sum</td>
<td></td>
<td></td>
<td></td>
<td>828</td>
</tr>
</tbody>
</table>
<h2><a name="the-repos-messense-recent-stared-random-10" class="anchor" href="#the-repos-messense-recent-stared-random-10" rel="nofollow" aria-hidden="true"><span class="octicon octicon-link"></span></a>
The repos messense recent stared (random 10)</h2>

<table>
<thead>
<tr>
<th>ID</th>
<th>REPO</th>
<th>STAREDDATE</th>
<th>LAUGUAGE</th>
<th>LATESTUPDATE</th>
</tr>
</thead>

<tbody>
<tr>
<td>1</td>
<td><a href="https://github.com/akhilerm/tag-push-action" rel="nofollow">tag-push-action</a></td>
<td>2022-09-18</td>
<td>TypeScript</td>
<td>2022-12-04</td>
</tr>

<tr>
<td>2</td>
<td><a href="https://github.com/tusharsadhwani/zxpy" rel="nofollow">zxpy</a></td>
<td>2023-01-10</td>
<td>Python</td>
<td>2023-01-16</td>
</tr>

<tr>
<td>3</td>
<td><a href="https://github.com/BayesWitnesses/m2cgen" rel="nofollow">m2cgen</a></td>
<td>2022-12-14</td>
<td>Python</td>
<td>2023-01-17</td>
</tr>

<tr>
<td>4</td>
<td><a href="https://github.com/Gerrit0/old-github-feed" rel="nofollow">old-github-feed</a></td>
<td>2022-10-30</td>
<td>JavaScript</td>
<td>2023-01-08</td>
</tr>

<tr>
<td>5</td>
<td><a href="https://github.com/mantinedev/mantine" rel="nofollow">mantine</a></td>
<td>2022-11-09</td>
<td>TypeScript</td>
<td>2023-01-20</td>
</tr>

<tr>
<td>6</td>
<td><a href="https://github.com/DarthSim/overmind" rel="nofollow">overmind</a></td>
<td>2022-10-18</td>
<td>Go</td>
<td>2023-01-20</td>
</tr>

<tr>
<td>7</td>
<td><a href="https://github.com/scireum/jupiter" rel="nofollow">jupiter</a></td>
<td>2022-12-15</td>
<td>Rust</td>
<td>2022-12-16</td>
</tr>

<tr>
<td>8</td>
<td><a href="https://github.com/SigNoz/signoz" rel="nofollow">signoz</a></td>
<td>2022-10-02</td>
<td>TypeScript</td>
<td>2023-01-20</td>
</tr>

<tr>
<td>9</td>
<td><a href="https://github.com/kedars/matter-rs" rel="nofollow">matter-rs</a></td>
<td>2022-09-16</td>
<td>Rust</td>
<td>2023-01-12</td>
</tr>

<tr>
<td>10</td>
<td><a href="https://github.com/fcoury/oxide" rel="nofollow">oxide</a></td>
<td>2022-07-29</td>
<td>Rust</td>
<td>2023-01-13</td>
</tr>
</tbody>
</table>

  </article>
</body>
</html>
